@import "tailwindcss";

@layer base {
:root {
    --foreground: #171717;
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
      --foreground: #ededed;
    --background: #0a0a0a;
  }
}

body {
    color: var(--foreground);
  background: var(--background);
    font-family: 'Lalezar', 'Arial', sans-serif;
  }
}

@layer utilities {
  .font-lalezar {
    font-family: 'Lalezar', sans-serif;
  }
  
  .text-balance {
    text-wrap: balance;
  }
}
